body {
  background: #f4f7fa;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.home-hero {
  position: relative;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: white;
}

.home-hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
  filter: brightness(100%); /* Optional: darken video */
}

.home-hero-content {
  position: relative;
  z-index: 2;
  padding-left: 5%;
}


footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
/* Force navbar to always collapse */
.navbar.always-collapsed .navbar-collapse,
.navbar.always-collapsed .collapse {
  display: none !important;
}

.navbar.always-collapsed .collapse.show {
  display: block !important;
}
